@layer base {
  :root {
    /* Background */
    --color-bg-default: #ffffff;
    --color-bg-secondary: #fafafa;
    --color-bg-tertiary: #f0f0f0;
    --color-bg-brand-subtle: #fafafc;
    --color-bg-brand-light: #f4f4ff;

    /* Button */
    --color-button-default: #5d5df1;
    --color-button-hover: #4040d2;
    --color-button-focused: #4040d2;
    --color-button-pressed: #1e27a4;
    --color-button-disabled: #f0f0f0;

    /* Border */
    --color-border-subtle: #cccccc;
    --color-border-light: #a6a6a6;
    --color-border-disabled: #a6a6a6;

    /* Text */
    --color-text-inverse: #ffffff;
    --color-text-secondary: #4d4d4d;
    --color-text-disabled: #a6a6a6;
  }
}
